._*
plots
photosimMetrics_ReproduceLMS.mat
photosimReferenceDatabase.mat
supplementary/responseToReview
supplementary/supplementary_plots
suppReferenceDatabase.mat
photosimMetrics_ReproduceLMSRI.mat
supplementary/extraDisplays
